.is-purple {background-color : #6C698D;}
.is-beige {background-color : #bfafa6;}
.is-green {background-color : #57a773;}
.is-white {background-color : #efe9f4;}
.is-darkpurple {background-color : #484d6d;}

.is-purplescript {color : #6C698D;}
.is-beigescript {color : #bfafa6;}
.is-greenscript {color : #57a773;}
.is-whitescript {color : #efe9f4;}
.is-darkpurplescript {color : #484d6d;}

.is-gradient-burntorange {
    background : linear-gradient( #C1292E, #972024 );
}

.is-gradient-greyblue {
    background : -moz-linear-gradient(135deg , #456990, #34506E );
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
}